# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a jobs for DevSecOps
  secrestdetection:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    #needs: build
    steps:
      - uses: actions/checkout@v2
        name: Check out code
        
      - name: Downloading trufflehog
        run: pip install truffleHog 
      
      - name: Scanning and Generating Report
        run: trufflehog --json --regex https://github.com/devsecops008/devsecops.git
  sca:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    #needs: build
    steps:
      - uses: actions/checkout@v2
        name: Check out code
        
      - name: Downloading Dependency check tool
        run: wget https://github.com/jeremylong/DependencyCheck/releases/download/v6.2.2/dependency-check-6.2.2-release.zip 
      
      - name: Unzipping archive and installing
        run: unzip dependency-check-6.2.2-release.zip && ls -l && dependency-check/bin/dependency-check.sh -s .
