# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a jobs for DevSecOps
  secrestdetection:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    #needs: build
    steps:
      - uses: actions/checkout@v2
        name: Check out code
        
      - name: Downloading trufflehog
        run: pip install trufflehog3 
      
      - name: Scanning and Generating Report
        run: trufflehog3 https://github.com/devsecops008/devsecops.git --format json --output report.json && ls -l
      
      - name: Upload Test Results  
        uses: actions/upload-artifact@master
        with:
          name: secret detection report
          path: ${{ github.workspace }}/report.json
          
  sca:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    #needs: build
    steps:
      - uses: actions/checkout@v2
        name: Check out code
        
      - name: Downloading Dependency check tool
        run: wget https://github.com/jeremylong/DependencyCheck/releases/download/v6.2.2/dependency-check-6.2.2-release.zip 
      
      - name: Unzipping archive and installing
        run: unzip dependency-check-6.2.2-release.zip && ls -l && dependency-check/bin/dependency-check.sh -s .
      
      - name: Upload Test Results  
        uses: actions/upload-artifact@master
        with:
          name: secret detection report
          path: ${{ github.workspace }}/reports
          
  sastwithqualitycheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        
  deploy:
    name: Push to GCP Instance
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v1

      - name: Deploy to my EC2 instance
        uses: easingthemes/ssh-deploy@v2.1.5
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY }}
          SOURCE: "./"
          REMOTE_HOST: ${{ secrets.HOST }}
          REMOTE_USER: ${{ secrets.USER }}
          TARGET: ${{ secrets.PATH }}
          
  PrepareApplication:
    needs: [deploy]
    name: Copy the Application to HTML Directory
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USER }}
        key: ${{ secrets.SSH_KEY }}
        script: ${{ secrets.SSH_SCRIPT }}
        
  DAST:
    needs: [PrepareApplication]
    name: Performing Dynamic Security Assessment
    runs-on: ubuntu-latest
    steps:     
    - name: OWASP ZAP Baseline Scan
      uses: zaproxy/action-baseline@v0.3.0
      with:
        target: "http://34.93.85.216/"
